test-color {
  color: #1b1b1b;
}

:root body {
  /* * Variables */
  --box-shadow: 0 0 5px 2px rgba(37, 44, 97, 0.1);
  /* ? Fonts */
  /* ! Colors */
  --stripes: #fcfcfc;
  --primary-color: #F15A24;
  --secondary-color: #6D57C7;
  --warning-color: #1967D2;
  --info-color: #17A2B8;
  --danger-color: #d32c3d;
  --success-color: #167e12;
  --dark-color: #423F3F;
  --light-color: #eeeeee;
  --white-color: #fff;
  --black-color: #000;
  --border-primary-color: #1967D2;
  --border-secondary-color: #6D57C7;
  --border-warning-color: #E84118;
  --border-info-color: #17A2B8;
  --border-danger-color: #d32c3d;
  --border-success-color: #167e12;
  --old-primary-color: #1967D2;
  --old-secondary-color: #6D57C7;
  --old-warning-color: #E84118;
  --old-info-color: #17A2B8;
  --old-danger-color: #d32c3d;
  --old-success-color: #167e12;
  --light-primary-color: #92baf2;
  --light-secondary-color: #f2f0fa;
  --light-warning-color: #f6b3a3;
  --light-info-color: #a7e9f4;
  --light-danger-color: #fdf7f7;
  --light-success-color: #f1fcf4;
  --dark-primary-color: #030e1c;
  --dark-secondary-color: #1d153e;
  --dark-warning-color: #2f0d05;
  --dark-info-color: #000203;
  --dark-danger-color: #2a090c;
  --dark-success-color: black;
}
:root body[data-theme=dark] {
  /* * Variables */
  --box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  /* ? Fonts */
  /* ! Colors */
  --stripes: black;
  --primary-color: #F15A24;
  --secondary-color: #6D57C7;
  --warning-color: #1967D2;
  --info-color: #17A2B8;
  --danger-color: #d32c3d;
  --success-color: #167e12;
  --dark-color: #eeeeee;
  --light-color: #1b1b1b;
  --white-color: #000;
  --black-color: #fff;
  --border-primary-color: #1967D2;
  --border-secondary-color: #6D57C7;
  --border-warning-color: #E84118;
  --border-info-color: #17A2B8;
  --border-danger-color: #d32c3d;
  --border-success-color: #167e12;
  --old-primary-color: #1967D2;
  --old-secondary-color: #6D57C7;
  --old-warning-color: #E84118;
  --old-info-color: #17A2B8;
  --old-danger-color: #d32c3d;
  --old-success-color: #167e12;
  --light-primary-color: #92baf2;
  --light-secondary-color: #f2f0fa;
  --light-warning-color: #f6b3a3;
  --light-info-color: #a7e9f4;
  --light-danger-color: #edabb1;
  --light-success-color: #8eeaa4;
  --dark-primary-color: #030e1c;
  --dark-secondary-color: #1d153e;
  --dark-warning-color: #2f0d05;
  --dark-info-color: #000203;
  --dark-danger-color: #2a090c;
  --dark-success-color: black;
}