#home {
  display: grid;
  grid-template-areas: "sommario lezioni" "prestazioni lezioni";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20vh 50vh;
  grid-gap: 15px;
  padding: 100px 0 0 0;
}

#sommario {
  grid-area: sommario;
  display: flex;
  gap: 10px;
  .box {
    justify-content: space-between;
    height: 100%;
    width: -webkit-fill-available;
    border-radius: 0;
    background-color: var(--light-success-color);
    font-size: 2.5em;
    line-height: 1.3em;
    h3 {
      color: var(--success-color);
      font-weight: 600;
    }
    h4 {
      font-weight: 800;
      font-size: 1.5em;
      display: flex;
      align-items: flex-start;
      i {
        font-size: 0.5em;
        font-weight: 900;
        color: var(--success-color);
      }
    }
    a {
      text-align: end;
      font-weight: 400;
      font-size: 0.4em;
      cursor: pointer;
      &:hover {
        transition: all 0s ease-in-out;
        color: var(--success-color);
        text-decoration: underline;
      }
    }
    &:first-of-type {
      background-color: var(--light-primary-color);
      border-radius: 20px 0 0 20px;
      h3 {
        color: var(--primary-color);
      }
      a {
        &:hover {
          color: var(--primary-color);
          text-decoration: underline;
        }
      }
    }
    &:last-of-type {
      background-color: var(--light-danger-color);
      border-radius: 0 20px 20px 0;
      h3 {
        color: var(--danger-color);
      }
      a {
        &:hover {
          color: var(--danger-color);
          text-decoration: underline;
        }
      }
    }
  }
}
#prestazioni {
  grid-area: prestazioni;
  .box {
    border-radius: 20px;
    height: 100%;
  }
}
#lezioni {
  grid-area: lezioni;
  .box {
    display: flex;
    flex-direction: row;
    height: calc((70vh + 15px - (0.5em * 4)) / 5);
    margin-bottom: 0.5em;
    border-radius: 0;
    .v-line {
      width: 10px;
      background-color: red;
      border-radius: 20px;
      height: 100%;
      margin: 0 10px 0 0;
    }
    aside {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h5 {
        font-size: 2em;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
      }
      h6 {
        font-size: 1em;
        font-weight: 400;
      }
      p {
        text-align: end;
      }
    }
    &:first-of-type {
      border-radius: 20px 20px 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 20px 20px;
    }
  }
}
