#home {
    display: grid;
    grid-template-areas: 
        "sommario lezioni"
        "prestazioni lezioni";
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 100px 0 0 0;
}

#prestazioni {
    grid-area: prestazioni;
}

#lezioni {
    grid-area: lezioni;
}

#sommario {
    grid-area: sommario;
    display: flex;
    gap: 20px;
}

#sommario .box {
    height: fit-content;
    min-height: max-content;
    flex-grow: 1;
}

#sommario #frequenza {
    background-color: var(--light-primary-color);
}

#sommario #frequenza i {
    font-size: 3rem;
    color: var(--primary-color);
}

#sommario #andamento {
    background-color: var(--light-success-color);
}

#sommario #andamento i {
    font-size: 3rem;
    color: var(--success-color);
}

#sommario #compiti {
    background-color: var(--light-danger-color);
}

#sommario #compiti i {
    font-size: 3rem;
    color: var(--danger-color);
}

#lezioni .box {
    height: max-content;
    margin-bottom: 5px;
    border-radius: 0;
}

#lezioni .box:first-of-type {
    border-radius: 20px 20px 0 0;
}

#lezioni .box:last-of-type {
    border-radius: 0 0 20px 20px;
}
