#home {
  display: grid;
  grid-template-areas: "sommario lezioni" "prestazioni lezioni";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20vh 50vh;
  grid-gap: 10px;
  padding: 100px 0 0 0;
}

#sommario {
  grid-area: sommario;
  display: flex;
  gap: 10px;
  .box {
    height: 100%;
    width: -webkit-fill-available;
	border-radius: 0;
    background-color: var(--light-success-color);
    i {
      font-size: 3rem;
      color: var(--success-color);
    }
	p {
		display: flex;
		align-items: start;
		font-size: 3rem;
		i {
			font-size: 1rem;
		}
	}
    &:first-of-type {
      background-color: var(--light-primary-color);
	  border-radius: 20px 0 0 0;
      i {
        font-size: 3rem;
        color: var(--primary-color);
      }
    }
    &:last-of-type {
      background-color: var(--light-danger-color);
	  border-radius: 0;
      i {
        font-size: 3rem;
        color: var(--danger-color);
      }
    }
  }
}
#prestazioni {
  grid-area: prestazioni;
  .box {
    border-radius: 0 0 0 20px;
    height: 100%;
  }
}
#lezioni {
  grid-area: lezioni;
  .box {
    height: 18.8%;
    margin-bottom: 5px;
    border-radius: 0;
    &:first-of-type {
      border-radius: 20px 20px 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 20px 20px;
    }
  }
}
