section#voti{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

section#box-voti article.box {
    margin-bottom: 25px;
}

section#box-voti {
    flex-grow: 1;
}
section#voti aside {
    flex-grow: 100;
}

section#box-voti>article>p{
    display: flex;
    justify-content: center;
    padding: 5px;
    
}

section#voti p.materia{
    font-size: 1.5rem;
    font-weight: bold;
}

section#voti p.voto{
    font-size: 2rem;
    font-weight: 300;
}


section#voti aside>article {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--stripes);
    border-radius: 20px;
    margin: 5px;
}

section#voti .descrizione{
    margin-top: 7px;
}

section#voti .mark{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}


/* ! DA SPOSTARE IN STYLE.CSS */
#user-navigation {
    display: none;  /* Nascondi la navbar inizialmente */
    width: max-content;
    background-color: var(--white-color);
    border-radius: 0 0 20px 20px;
    padding: 10px;
    right: 30px;
    box-shadow: 0 8px 10px #00000020;
}
  
#user-navigation[visibile] {
    display: block;  /* Mostra la navbar quando ha l'attributo "visibile" */
    position: absolute;
}

#user-navigation>ul>li{
display: flex;
flex-direction: column;
gap: 10px;
}
/* ! DA SPOSTARE IN STYLE.CSS */
