@media screen and (max-width: 1280px) {
  #home {
    #sommario {
      .box {
        h3 {
          font-size: 0.8em;
        }
        h4 {
          font-size: 1em;
          i {
            font-size: 0.5em;
          }
        }
      }
    }
  }
}
