#login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#login .box {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#login .box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#login .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#login .box form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    align-items: center;
    width: 80%;
}

#login .box form p {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px 0;
}

#login .box form input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

#login .box form input:focus{
    background-color: red;
}

#login .box form button {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    border: 5px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

#login .box form button:hover {
    background-color: var(--dark-primary-color);
}
