test-color {
    color: #1b1b1b;;
}

@mixin data-theme($theme: light) {
    @if $theme == "light" {
      
        /* * Variables */
        --box-shadow: 0  0 5px 2px rgba(37, 44, 97, 0.1);

        /* ? Fonts */

        /* ! Colors */
        --stripes: #fcfcfc;

        --primary-color: #F15A24;
        --secondary-color: #6D57C7;
        --warning-color: #1967D2;
        --info-color: #17A2B8;
        --danger-color: #d32c3d;
        --success-color: #167e12;
        --dark-color: #423F3F;
        --light-color: #eeeeee;
        --white-color: #fff;
        --black-color: #000;

        --border-primary-color: #1967D2;
        --border-secondary-color: #6D57C7;
        --border-warning-color: #E84118;
        --border-info-color: #17A2B8;
        --border-danger-color: #d32c3d;
        --border-success-color: #167e12;

        --old-primary-color: #1967D2;
        --old-secondary-color: #6D57C7;
        --old-warning-color: #E84118;
        --old-info-color: #17A2B8;
        --old-danger-color: #d32c3d;
        --old-success-color: #167e12;
        
        --light-primary-color: #{lighten(#1967D2, 30%)};
        --light-secondary-color: #{lighten(#6D57C7, 40%)};
        --light-warning-color: #{lighten(#E84118, 30%)};
        --light-info-color: #{lighten(#17A2B8, 40%)};
        --light-danger-color: #{lighten(#d32c3d, 48%)};
        --light-success-color: #{lighten(#1b9137, 63%)};

        --dark-primary-color: #{darken(#1967D2, 40%)};
        --dark-secondary-color: #{darken(#6D57C7, 40%)};
        --dark-warning-color: #{darken(#E84118, 40%)};
        --dark-info-color: #{darken(#17A2B8, 40%)};
        --dark-danger-color: #{darken(#d32c3d, 40%)};
        --dark-success-color: #{darken(#1b9137, 40%)};
    } @else {
      
        /* * Variables */
        --box-shadow: 0  0 5px 2px #{darken(rgba(37, 44, 97, 0.1), 100%)};

        /* ? Fonts */

        /* ! Colors */
        --stripes: #{darken(#fcfcfc, 100%)};

        --primary-color: #F15A24;
        --secondary-color: #6D57C7;
        --warning-color: #1967D2;
        --info-color: #17A2B8;
        --danger-color: #d32c3d;
        --success-color: #167e12;
        --dark-color: #eeeeee;
        --light-color: #1b1b1b;
        --white-color: #000;
        --black-color: #fff;

        --border-primary-color: #F15A24;
        --border-secondary-color: #6D57C7;
        --border-warning-color: #1967D2;
        --border-info-color: #17A2B8;
        --border-danger-color: #d32c3d;
        --border-success-color: #167e12;
        
        --old-primary-color: #F15A24;
        --old-secondary-color: #6D57C7;
        --old-warning-color: #1967D2;
        --old-info-color: #17A2B8;
        --old-danger-color: #d32c3d;
        --old-success-color: #167e12;

        --light-primary-color: #{darken(#F15A24, 30%)};
        --light-secondary-color: #{darken(#6D57C7, 40%)};
        --light-warning-color: #{darken(#1967D2, 30%)};
        --light-info-color: #{darken(#17A2B8, 40%)};
        --light-danger-color: #{darken(#d32c3d, 40%)};
        --light-success-color: #{darken(#1b9137, 63%)};

        --dark-primary-color: #{lighten(#F15A24, 40%)};
        --dark-secondary-color: #{darken(#6D57C7, 40%)};
        --dark-warning-color: #{darken(#1967D2, 40%)};
        --dark-info-color: #{lighten(#17A2B8, 40%)};
        --dark-danger-color: #{lighten(#d32c3d, 40%)};
        --dark-success-color: #{lighten(#1b9137, 40%)};

    }
  }

:root {
    body {
        @include data-theme("light");
        &[data-theme="dark"] {
            @include data-theme("dark");
        }
    }
}
