:root {
    /* * Variables */
    --box-shadow: 0  0 10px 2px rgba(37, 44, 97, 0.1);

    /* ? Fonts */

    /* ! Colors */
    --stripes: #fafafa;

    --primary-color: #1967D2;
    --secondary-color: #6D57C7;
    --warning-color: #E84118;
    --info-color: #17A2B8;
    --danger-color: #d32c3d;
    --success-color: #1b9137;
    --dark-color: #423F3F;
    --light-color: #f0f0f0;
    --white-color: #fff;
    --black-color: #000;
    
    --light-primary-color: #c9e0fd;
    --light-secondary-color: #d6c9f0;
    --light-warning-color: #f8d7da;
    --light-info-color: #d1ecf1;
    --light-danger-color: #f8d7da;
    --light-success-color: #d4edda;

    --dark-primary-color: #0a47a1;
    --dark-secondary-color: #5a3ec8;
    --dark-warning-color: #f0c400;
    --dark-info-color: #0d6efd;
    --dark-danger-color: #bd2130;
    --dark-success-color: #0a6640;
}