/* Importing external CSS files */
@import url(fonts.css); /* importing fonts.css */
@import url(config.css); /* importing config.css */
@import url(icons.css); /* importing icons.css */
@import url(other/home.css); /* importing home.css from the other directory */
@import url(other/voti.css); /* importing voti.css from the other directory */
@import url(other/login.css); /* importing login.css from the other directory */
@import url(other/compiti.css); /* importing compiti.css from the other directory */
@import url(responsives/laptop.css); /* importing laptop.css from the responsives directory */
@import url(responsives/tablet.css); /* importing tablet.css from the responsives directory */

* {
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  color: var(--dark-color);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a:hover {
  cursor: pointer;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  padding: 1vh 2vw 1vh 1vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > section {
    gap: 15px;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
    }
    i {
      padding: 10px;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  img#logo {
    width: 13%;
  }
  img#user-logo {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      border: 3px solid var(--primary-color);
    }
  }
}

#menu-navigation {
  background-color: var(--stripes);
  padding: 8vh 1vw 0 1vw;
  height: 100vh;
  font-size: 1.1rem;
  min-width: max-content;
  > nav {
    > a {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    > ul {
      list-style: none;
      > li {
        padding: 10px;
        cursor: pointer;
        display: flex;
        margin-bottom: 3px;
        align-items: center;
        background-color: var(--light-color);
        gap: 5px;
        * {
          cursor: pointer;
        }
        &:hover {
          background-color: var(--light-primary-color);
          color: var(--white-color);
        }
        &:first-of-type {
          border-radius: 20px 20px 0 0;
        }
        &:last-of-type {
          border-radius: 0 0 20px 20px;
        }
        @mixin li-text {
          font-size: 1.1rem;
        }
        > i {
          @include li-text;
        }
        > a {
          text-decoration: none;
          @include li-text;
          font-weight: 500;
          color: var(--dark-color);
        }
      }
    }
  }
  &[aria-expanded="false"] {
    padding-left: 0.5vw;
    li {
      flex-direction: column;
      a {
        font-size: 0.7em;
      }
    }
  }
}

#user-navigation {
  display: none;
  width: max-content;
  background-color: var(--white-color);
  border-radius: 20px;
  right: 100px;
  top: 20px;
  box-shadow: 0 8px 10px #00000020;
  &[visibile] {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  #user-nav-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    gap: 20px;
    box-shadow: var(--box-shadow);
    background-color: var(--light-color);
    > article {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    > aside {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      #logout {
        font-size: 0.5rem;
        font-weight: 900;
        visibility: hidden;
        &[visibile] {
          visibility: visible;
        }
      }
    }
    > h3 {
      font-weight: 400;
    }
  }
  #user-nav-body {
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    > a {
      display: flex;
      border-radius: 20px;
      border: 1px solid var(--border-primary-color);
      width: max-content;
      padding: 5px;
      justify-items: center;
      text-decoration: none;
      font-weight: 500;
      margin-bottom: 20px;
      &:hover {
        background-color: var(--light-primary-color);
        border-color: var(--primary-color);
        color: var(--primary-color);
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 3px;
      li {
        background-color: var(--light-color);
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
          background-color: var(--light-primary-color);
          color: var(--primary-color);
        }
        &:first-of-type {
          border-radius: 10px 10px 0 0;
          justify-content: space-between;
        }
        &:last-of-type {
          border-radius: 0 0 10px 10px;
        }
        a {
          text-decoration: none;
          font-weight: 400;
          color: var(--dark-color);
        }
        > i {
          color: var(--dark-color);
          background-color: var(--stripes);
          border-radius: 50%;
        }
      }
    }
    h2 {
      font-weight: 500;
      padding: 5px 10px;
    }
  }
}

footer {
  background-color: var(--white-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2vh 2vw;
  p {
    font-size: 0.9em;
    color: var(--dark-color);
  }
}

.stripes {
  width: 100%;
  height: 96%;
  bottom: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  transform: skewY(-15deg);
  transform-origin: 0px 0;
  background: var(--stripes);
  box-shadow: 0 3px 20px 5px rgba(37, 44, 97, 0.1);
}

body {
  background-color: var(--light-color);
  min-height: 100vh;
  &[data-loader] {
    .loader {
      display: block;
      width: 100%;
      height: 100%;
      background-color: red;
      position: absolute;
      z-index: 1001;
    }
  }
  &[data-loader="false"] {
    .loader {
      z-index: -2;
      display: none;
    }
  }
}

main {
  padding: 0 2vw 0 0;
  display: flex;
  gap: 20px;
}

.box {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .box-header {
    font-size: large;
    font-weight: 500;
  }
  .box-main {
    font-size: medium;
    font-weight: 300;
  }
}

.v-line {
  width: 10px;
  background-color: var(--danger-color);
  border-radius: 20px;
  height: 100%;
  margin: 0 10px 0 0;
}