/* Importing external CSS files */
@import url(fonts.css); /* importing fonts.css */
@import url(config.css); /* importing config.css */
@import url(icons.css); /* importing icons.css */
@import url(other/home.css); /* importing home.css from the other directory */
@import url(other/voti.css); /* importing voti.css from the other directory */
@import url(other/login.css); /* importing login.css from the other directory */
@import url(other/compiti.css); /* importing compiti.css from the other directory */
* {
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  color: var(--dark-color);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a:hover {
  cursor: pointer;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  padding: 1vh 2vw 1vh 1vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > section {
  gap: 15px;
  display: flex;
  align-items: center;
}
header > section a {
  text-decoration: none;
}
header > section i {
  padding-left: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
header img#logo {
  width: 13%;
}
header img#user-logo {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
}
header img#user-logo:hover {
  cursor: pointer;
  border: 3px solid var(--primary-color);
}

#menu-navigation {
  background-color: var(--stripes);
  padding: 8vh 1vw 0 1vw;
  height: 100vh;
  font-size: 1.1rem;
  min-width: -moz-max-content;
  min-width: max-content;
}
#menu-navigation > nav > a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#menu-navigation > nav > ul {
  list-style: none;
}
#menu-navigation > nav > ul > li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  margin-bottom: 3px;
  align-items: center;
  background-color: var(--light-color);
}
#menu-navigation > nav > ul > li:hover {
  background-color: var(--light-primary-color);
  color: var(--white-color);
}
#menu-navigation > nav > ul > li:first-of-type {
  border-radius: 20px 20px 0 0;
}
#menu-navigation > nav > ul > li:last-of-type {
  border-radius: 0 0 20px 20px;
}
#menu-navigation > nav > ul > li > i {
  margin-right: 5px;
  font-size: 1.1rem;
}
#menu-navigation > nav > ul > li > a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-color);
}
#menu-navigation[aria-expanded=false] {
  padding-left: 0.5vw;
}
#menu-navigation[aria-expanded=false] li {
  flex-direction: column;
}
#menu-navigation[aria-expanded=false] li a {
  font-size: 0.7em;
}

#user-navigation {
  display: none;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--white-color);
  border-radius: 20px;
  right: 100px;
  top: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1254901961);
}
#user-navigation[visibile] {
  display: block;
  position: absolute;
}
#user-navigation #user-nav-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  gap: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--light-color);
}
#user-navigation #user-nav-header > article {
  display: flex;
  align-items: center;
  gap: 5px;
}
#user-navigation #user-nav-header > aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#user-navigation #user-nav-header > aside #logout {
  font-size: 0.5rem;
  font-weight: 900;
  visibility: hidden;
}
#user-navigation #user-nav-header > aside #logout[visibile] {
  visibility: visible;
}
#user-navigation #user-nav-header > h3 {
  font-weight: 400;
}
#user-navigation #user-nav-body {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#user-navigation #user-nav-body > a {
  display: flex;
  border-radius: 20px;
  border: 1px solid var(--border-primary-color);
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  justify-items: center;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 20px;
}
#user-navigation #user-nav-body > a:hover {
  background-color: var(--light-primary-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}
#user-navigation #user-nav-body ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}
#user-navigation #user-nav-body ul li {
  background-color: var(--light-color);
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#user-navigation #user-nav-body ul li:hover {
  background-color: var(--light-primary-color);
  color: var(--primary-color);
}
#user-navigation #user-nav-body ul li:first-of-type {
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
}
#user-navigation #user-nav-body ul li:last-of-type {
  border-radius: 0 0 10px 10px;
}
#user-navigation #user-nav-body ul li a {
  text-decoration: none;
  font-weight: 400;
  color: var(--dark-color);
}
#user-navigation #user-nav-body ul li > i {
  color: var(--dark-color);
  background-color: var(--stripes);
  border-radius: 50%;
}
#user-navigation #user-nav-body h2 {
  font-weight: 500;
  padding: 5px 10px;
}

footer {
  background-color: var(--white-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2vh 2vw;
}
footer p {
  font-size: 0.9rem;
  color: var(--dark-color);
}

.stripes {
  width: 100%;
  height: 96%;
  bottom: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  transform: skewY(-15deg);
  transform-origin: 0px 0;
  background: var(--stripes);
  box-shadow: 0 3px 20px 5px rgba(37, 44, 97, 0.1);
}

body {
  background-color: var(--light-color);
  min-height: 100vh;
}

main {
  padding: 0 2vw 0 0;
  display: flex;
  gap: 20px;
}

.box {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.box .box-header {
  font-size: large;
  font-weight: 500;
}
.box .box-main {
  font-size: medium;
  font-weight: 300;
}