@media only screen and (max-width: 430px) {
  header {
    background-color: var(--white-color);
    #user-navigation {
      right: 2vw;
      top: 8vh;
    }
  }
  main {
    padding: 0px !important;
    #menu-navigation {
      display: none;
      position: absolute;
      width: 100%;
      li {
        background-color: var(--stripes);
      }
      &[aria-expanded="false"] {
        display: block;
        background-color: var(--white-color);
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        padding: 12vh 5vw;
        li {
          background-color: var(--light-color);
          flex-direction: row;
          a {
            font-size: 1em;
            i {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    #home {
      grid-template-areas:
        "sommario"
        "lezioni"
        "prestazioni";
      grid-template-columns: 1fr;
      grid-template-rows: 60vh 80vh 50vh;
      padding: 100px 50px;
      gap: 50px;
      #sommario {
        flex-direction: column;
        .box {
          h3 {
            font-size: 0.8em;
          }
          h4 {
            margin-top: -3px;
            font-size: 1em;
            i {
              font-size: 0.5em;
            }
          }
          &:first-of-type {
            border-radius: 20px 20px 0 0;
          }
          &:last-of-type {
            border-radius: 0 0 20px 20px;
          }
        }
      }
    }
    #lezioni {
      .box {
        height: calc((((80vh)) - (0.5em * 4)) / 5);
      }
    }
  }
  footer {
    position: default;
    padding: 20px;
  }
}
