:root {
    --primario: red;
    --secondario: blue;
    --test-scuro: black;
    --testo-chiaro: white;
    --sfondo-chiaro: white;
    --sfondo-medio: grey;
    --sfondo-scuro: black;
    --testo-grigio-account: grey;
}

* {
    color: green;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    width: 10%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .btn-menu img {
    width: 10%;
    height: auto;

}

img {
    width: 100%;
    height: auto;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.section-name {
    font-size: 0.8em;
    color: black;
}


.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a {
    display: flex;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--secondario);
}

.sidebar li a:hover {
    background: var(--secondario);
    box-shadow: 0px 12px 29px -5px rgba(0, 0, 0, 0.38);
}

.sidebar li a .links_name {
    color: white;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    transition: 0.4s;
}


.sidebar .divider {
    opacity: .5;
    height: 2px;
    background-color: red;
    width: 100%;
    margin-top: 30px;
}

.sidebar.open .divider {
    margin-bottom: 0px;
}

.sidebar .section-name {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.2rem;
    color: black;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #fff;
}

.sidebar li i {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    border-radius: 12px;
}

.sidebar .account {
    background-color: blue;
    border-radius: 15px;
    padding: 10px;
    color: var(--testo-grigio-account);
    font-size: 1rem;
    font-weight: bold;
}

main {
    width: 90%;
    padding: 20px;
    background-color: var(--sfondo-medio);
}

.sidebar-container {
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: content;
}